.header {
  height: 210px;
  overflow: hidden;
}
.header img {
  width: 100%;
}
.header i {
  position: absolute;
  height: 25px;
  width: 25px;
  left: 10px;
  top: 10px;
  text-align: center;
  line-height: 27px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
}
.content {
  padding: 15px;
  box-sizing: border-box;
  color: #787d82;
}
.content div i {
  width: 25px;
  height: 15px;
  color: #d1d6dc;
}
.content address {
  color: #ffc02a;
}
.content p:last-child {
  line-height: 17px;
}
.actor {
  height: 165px;
  display: inline-block;
  margin-bottom: 60px;
}
.actor > p {
  padding: 15px;
}
.actor div {
  width: 100%;
  overflow-x: auto;
  height: 120px;
}
.actor div ul {
  height: 100%;
  width: 100%;
}
.actor div ul li {
  height: 100%;
  min-width: 85px;
  max-width: 85px;
  text-align: center;
  margin: 0 10px;
}
.actor div ul li p:nth-of-type(1) {
  max-width: 85px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.actor div ul li p:nth-of-type(2) {
  max-width: 85px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
  color: #787d82;
}
.footer-log-out {
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #ff5100;
  color: #fff;
  bottom: 0px;
}
